.error-msg {
  color: var(--red);
  font-size: 0.55rem;
  font-weight: var(--font-weight-regular);
  /* Para nn desnivelar - Olhar melhor */
  position: absolute;
}

@media (min-width: 1200px) {
  .error-msg {
    font-size: 0.8rem;
  }
}
